NET "seven_seg<0>" LOC = P127 | IOSTANDARD = LVTTL;
NET "seven_seg<1>" LOC = P124 | IOSTANDARD = LVTTL;
NET "seven_seg<2>" LOC = P142 | IOSTANDARD = LVTTL;
NET "seven_seg<3>" LOC = P140 | IOSTANDARD = LVTTL;
NET "seven_seg<4>" LOC = P138 | IOSTANDARD = LVTTL;
NET "seven_seg<5>" LOC = P132 | IOSTANDARD = LVTTL;
NET "seven_seg<6>" LOC = P134 | IOSTANDARD = LVTTL;

NET "seg_sel<0>" LOC = P139 | IOSTANDARD = LVTTL;
NET "seg_sel<1>" LOC = P137 | IOSTANDARD = LVTTL;
NET "seg_sel<2>" LOC = P133 | IOSTANDARD = LVTTL;
NET "seg_sel<3>" LOC = P131 | IOSTANDARD = LVTTL;
NET "seg_sel<4>" LOC = P126 | IOSTANDARD = LVTTL;
NET "seg_sel<5>" LOC = P123 | IOSTANDARD = LVTTL;

NET "button<0>" LOC = P2 | IOSTANDARD = LVTTL;
NET "button<1>" LOC = P6 | IOSTANDARD = LVTTL;
NET "button<2>" LOC = P8 | IOSTANDARD = LVTTL;
NET "button<3>" LOC = P10 | IOSTANDARD = LVTTL;
NET "button<4>" LOC = P12 | IOSTANDARD = LVTTL;

NET "red_led" LOC = P21 | IOSTANDARD = LVTTL;
NET "pwr" LOC = P23 | IOSTANDARD = LVTTL;
NET "gnd" LOC = P26 | IOSTANDARD = LVTTL;

NET "enter_led<0>" LOC = P1 | IOSTANDARD = LVTTL;
NET "enter_led<1>" LOC = P5 | IOSTANDARD = LVTTL;
NET "guess_led<0>" LOC = P7 | IOSTANDARD = LVTTL;
NET "guess_led<1>" LOC = P9 | IOSTANDARD = LVTTL;

NET "button_col<0>" LOC = P82 | IOSTANDARD = LVTTL;
NET "button_col<1>" LOC = P80 | IOSTANDARD = LVTTL;
NET "button_col<2>" LOC = P78 | IOSTANDARD = LVTTL;
NET "button_col<3>" LOC = P74 | IOSTANDARD = LVTTL;
NET "button_col<4>" LOC = P66 | IOSTANDARD = LVTTL;
NET "button_col<5>" LOC = P57 | IOSTANDARD = LVTTL;

NET "button_row<0>" LOC = P84 | IOSTANDARD = LVTTL;
NET "button_row<1>" LOC = P87 | IOSTANDARD = LVTTL;
NET "button_row<2>" LOC = P92 | IOSTANDARD = LVTTL;
NET "button_row<3>" LOC = P94 | IOSTANDARD = LVTTL;
NET "button_row<4>" LOC = P8=97 | IOSTANDARD = LVTTL;
